@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
}

header ul {
    display: flex;
    padding: 10px 10px 50px 10px;
}

li {
    list-style: none;
    margin: 5px 10px;
}

h1 {
    font-size: 160px;
    font-weight: 700;
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 300;
    text-align: center;
}

h3 {
    margin: 0;
}

.subtitle {
    font-size: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    margin-top: 17vh;
    text-align: center;
}

/* Make font of the intro text smaller to fit mobile devices */
@media only screen and (max-height: 820px) {
    .intro {
        font-size: 120px;
    }
}

/* Blinking cursor animation */
.blinking {
    width: 50px;
    height: 100px;
    background-color: white;
    -webkit-animation: blinking 2s infinite;
    animation: blinking 2s infinite;
}

@keyframes blinking {
    0% {
        background-color: transparent;
    }
    49% {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Make footer black on higher resolution devices for a cleaner look */
@media only screen and (min-height: 1080px) {
    .footer-main {
        background-color: black;
    }
}

footer ul {
    display: flex;
    padding: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.options {
    display: flex;
}

.options a {
    margin: 40px 10px;
}

.copyright-footer {
    margin-bottom: 10px;
}

.socials {
    width: 100px;
    height: 320px;
    background-color: aqua;
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 27vh;
}

@media only screen and (max-width: 750px) {
    .socials {
        display: none;
    }
}

.social {
    width: 100%;
    height: 33%;
}

.wave {
    fill: black;
    width: 100vw;
    height: 55vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Reduce wave height on mobile devices */
@media only screen and (max-width: 750px) {
    .wave {
        height: 35vh;
    }
}

.social svg {
    fill: black;
}

a:hover {
    color: aqua;
}

/* Project page */

.project-details {
    width: 50%;
}

.project-details td {
    padding: 30px;
}

.project-details img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

@media only screen and (max-width: 750px) {
    .project-details {
        width: 80%;
    }

    .project-details td {
        padding: 5px;
    }
}

.subpages-footer {
    position: relative;
}

/* About me */

.about-me {
    width: 50%;
    text-align: center;
}

.about-me img {
    width: 180px;
}

.interests {
    width: 50%;
    text-align: center;
}

.interests h2 {
    font-size: xx-large;
}

.interests ul {
    padding: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.interests li {
    list-style: none;
    margin: auto;
}

@media only screen and (max-width: 750px) {
    .about-me {
        width: 80%;
    }

    .interests {
        width: 50%;
        text-align: center;
    }

    /* Reduce size to single column on smaller devices to fit content */
    .interests ul {
        padding: 0;
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}

/* Stack page */

.info-list {
    display: block;
    margin: 0 20px 20px 0;
    padding: 0 0 0 25px;
}

strong {
    font-size: 25px;
}

.tech-card .info-list li span {
    display: block;
    font-family: "Space Grotesk", sans-serif;
    color: #888888;
    font-size: 24px;
    line-height: 1;
}

.profile-container {
    display: flex;
    justify-content: space-around;
}

.tech-card {
    width: 50%;
}

.skill-card {
    width: 50%;
}

/* Skill-bars: */

.skillbar-container {
    display: flex;
    justify-content: space-around;
}

.skill-bars {
    width: 1000px;
    border-radius: 10px;
    padding: 15px 30px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
}

@media only screen and (max-width: 750px) {
    .skill-bars {
        padding: 2px;
        width: 100%;
    }
}

.skill-bars .bar {
    margin: 20px 0;
}

.skill-bars .bar:first-child {
    margin-top: 0px;
}

.skill-bars .bar .info {
    margin-bottom: 5px;
}

.skill-bars .bar .info span {
    font-size: 17px;
    font-weight: bold;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skill-bars .bar .progress {
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
        0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress span {
    height: 100%;
    width: 80%;
    background: aqua;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress.java span {
    width: 90%;
}

.progress.py span {
    width: 80%;
}

.progress.js span {
    width: 75%;
}

.progress.web span {
    width: 70%;
}

.progress.sql span {
    width: 60%;
}

.progress.java span::after {
    content: "90%";
}

.progress.py span::after {
    content: "80%";
}

.progress.js span::after {
    content: "75%";
}

.progress.web span::after {
    content: "70%";
}

.progress.sql span::after {
    content: "60%";
}

.bar .progress span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress span::after {
    position: absolute;
    right: 0;
    top: -26px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

/* Contact page */

.form-submit {
    width: 50%;
}

.form-submit form {
    width: 100%;
}

.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    border: none;
    width: 50%;
    font-size: 25px;
    padding: 10px;
    padding: 20px 0px;
    font-family: "Space Grotesk", sans-serif;
}

.form-submit textarea {
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    resize: none;
    width: 100%;
    padding: 0;
    margin-top: 5px;
    padding: 20px 0px;
    border: none;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
    outline: 0;
    background-color: aqua;
}

form button {
    width: 100%;
    background-color: aqua;
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    padding: 20px;
    border: none;
}

/* Make submit button hover text black for better visibility */
form a:hover {
    color: black;
}

@media only screen and (max-width: 750px) {
    .form-submit {
        width: 80%;
    }

    .form-submit .form-row {
        display: flex;
        flex-direction: column;
    }

    .form-row .form-control {
        width: 100%;
        margin-top: 5px;
    }
}
