body {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
}

section {
  height: 100vh;
  background-color: white;
}

.intro {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  background-color: #1c1d25;
  height: 50vh;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 35rem;
  justify-content: space-around;
  font-size: 2rem;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 5.5rem;
  margin: 0;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}

.intro-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.intro-text {
  margin-left: 5rem;
  margin-bottom: 12.5rem;
}

.button {
  width: 12rem;
  height: 3rem;
  background-color: coral;
  border-radius: 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  padding-top: 0.5rem;
  margin-top: 1rem;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: white;
  color: coral;
}

.socials {
  padding-bottom: 12.5rem;
}

.socialicons {
  margin: 2rem;
}

.logo {
  height: 5rem;
  margin: 2rem;
}

.subsection {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
}

.profilepic {
  width: 20rem;
  border-radius: 10rem;
  padding-top: 40px;
}

/* .profilepic-container {
  display: flex;
  align-items: center;
} */

.info-list {
  display: block;
}

.profile-card .info-list li span {
  display: block;
  font-family: 'poppins-regular', sans-serif;
  color: #888888;
  font-size: 1.5rem;
  line-height: 1;
}

.profile-container {
  display: flex;
  justify-content: space-around;
}

.profile-card {
  width: 50%;
}

.skill-card {
  width: 50%;
}

.project-card {
  width: 200px;
  height: 500px;
  border: solid 2px black;
}

.project-container {
  display: flex;
  justify-content: space-around;
}
